@model DeleteProductViewModel
@using FoodShop.Web.Infrastructure.Extensions;

@{
    ViewBag.Title = "Delete Product";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<form asp-action="Delete" method="post">
    <div class="row">
        <div class="col-md-4">
            <img class="card-img-top" src="@Model.PictureUrl" alt="Product Image">
        </div>
        <div class="col-md-8">
            <p></p>
            <p></p>
            <div class="form-group mt-4">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" disabled="disabled" />
            </div>
            @if (@Model.TradeMark != null)
            {
                <div class="form-group">
                    <label asp-for="TradeMark" class="control-label"></label>
                    <input asp-for="TradeMark" class="form-control" disabled="disabled" />
                </div>
            }
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}